<div class="info">
  <h1>LOGIN</h1>
  <%= form_tag(sessions_path) do %>
    <%= text_field_tag :username, "",:placeholder => "Type in your username" %>
    <%= password_field_tag :password, "", :class => "new-todo", :placeholder => "Type your password" %>
    <%= submit_tag "Login"%>
  <% end %>
</div>
