<h1><%= current_user.username %>'s tasks</h1>

<% if @tasks.empty? %>
  <p>There are no tasks to show</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Percent Complete</th>
        <th>Action</th>
        <th>Project</th>
      </tr>
    </thead>
    <tbody>
      <p><%= render(@tasks) %></p>
    </tbody>
  </table>
<% end %>
