<% if params[:user_id] %>
  <h1><%= User.find(params[:user_id]).username %>'s tasks | <%= link_to "Add task", new_user_task_path(User.find(params[:user_id])) %></h1>
<% else %>
  <h1>All Tasks | <%= link_to "Add task", new_task_path %></h1>
<% end %>

<% if @tasks.empty? %>
  <p>There are no tasks to show</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Task Name</th>
        <% if !params[:user_id] %>
          <th>Assignee</th>
        <% end %>
        <th>Percent Complete</th>
        <th>Action</th>
        <th>Project</th>
      </tr>
    </thead>
    <tbody>
      <p><%= render(@tasks) %></p>
    </tbody>
  </table>
<% end %>
