<h1>All Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Percentage Complete</th>
      <th>Project</th>
      <th>Details</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <p><%= render(@tasks) || "There are no tasks to show." %></p>
  </tbody>
</table>
