<h1><%= @user.username %></h1>

<!-- Show users assigned to project -->
<h4>Project List: </h4>
<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <p><%= render(@user.projects) || "There are no projects to show." %></p>
  </tbody>
</table>
