<h1>Welcome, <%= @user.username %>!</h1>
<h3>Your Email: <a href="mailto: <%= @user.email %>"><%= @user.email %></a></h3>
<br>

<!-- Show project list-->
<h4>Project List: </h4>
<% if @user.projects.empty? %>
  <p>There are currently no projects to show</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Due Date</th>
        <th>Details</th>
        <th>Action</th>
        <th>Number of tasks</th>
      </tr>
    </thead>
    <tbody>
      <p><%= render partial: "project", collection: @user.projects, locals: {user_id: @user.id} || "There are no projects to show." %></p>
    </tbody>
  </table>
<% end %>
