<tr>
  <td><%= project.name %></td>
  <td><%= nice_date_format project if project.name != "Unsorted" %></td>
  <td><%= link_to "Show", admin_project_path(project) %></td>
  <td><%= link_to "Edit", edit_admin_project_path(project) if project.name != "Unsorted" %></td>
</tr>
