<tr>
  <td><%= project.name %></td>
  <td><%= nice_date_format project %></td>
  <td>
    <%= link_to "Go to Project", admin_project_path(project) %><br>
    <%= link_to "Edit", edit_admin_project_path(project) %>
  </td>
</tr>
