<tr>
  <td><%= project.name %></td>
  <td><%= nice_date_format project %></td>
  <td><%= link_to "Show", project_path(project) %></td>
  <% if current_user.is_admin? %>
    <td><%= link_to "Edit", edit_project_path(project) %></td>
  <% end %>
</tr>
