<h1>Project List</h1>

<div id="projects-index">
  <div id="project-list">
    <% if @projects.empty? %>
      <p>There are no projects to show</p>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Due Date</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <p><%= render(@projects) %></p>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
