  <h1>Create New Project</h1>
  
  <!-- move this to helpers -->
  <% if @project.errors %>
    <% @project.errors.full_messages each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
  <% end %>

  <%= render partial: "form", locals: {project: @project, path: admin_projects_path} %>    	
