<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th># of tasks</th>
      <th>Details</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <p><%= render(@users) || "There are no users to show." %></p>
  </tbody>
</table>
